<?php
    require('./views/nav.html');ob_start();
?>

<div class="chat">
    <div id="liste_message"></div>
    <form class="chat-input">
        <input type="hidden" id="csrf" name="csrf" value="<?= $_SESSION['csrf'] ?>">
        <textarea id="content" placeholder="Écrivez un message..."></textarea>
        <input type="button" id="send" onclick="send_sms()" value="Envoyer">
    </form>
</div>

<?php
    $script = '<script>
        event("event.php", "message", "liste_message", true);
    </script>';
    $content = ob_get_clean();
    require('./views/template.html')
?>